{% extends 'shop/Layouts/main.html' %}

{% block title %}
MultiZone
{% endblock title %} 

{% block content %}
<div class="signup">
    <p>Sign Up and <b>Get 20% OFF</b> for your first order
        <i id="closeicon" style="margin-left: 5%;cursor: pointer;" class="fa-solid fa-xmark"></i>
    </p>
</div>



<!-- Display Images -->

<div class="image-display">
    <img id="displayed-image" src="./images/others/slider-one.jpg" alt="Displayed Image">
    <div class="display__content">
        <h1>Level up your style with our</h1>
        <p>Summer Collections</p>
        <button class="display__btn">Shop Now</button>
    </div>
    <div class="arrow left-arrow">&lt;</div>
    <div class="arrow right-arrow">&gt;</div>
</div>


<!-- Logos -->
<div class="logo-container">
    <h1 style="font-size: 1.5em;">Brands</h1>
    <di class="logo-container__images">
        <div class="logo__images">
            <img src="./Images/icons/puma.png" alt="">
            <p>Puma</p>
        </div>
        <div class="logo__images">
            <img src="./Images/icons/adidas.png" alt="">
            <p>Adidas</p>
        </div>
        <div class="logo__images">
            <img src="./Images/icons/nike.png" alt="">
            <p>Nike</p>
        </div>
        <div class="logo__images">
            <img src="./Images/icons/simple.png" alt="">
            <p>Simple</p>
        </div>
        <div class="logo__images">
            <img src="./Images/icons/leaves.png" alt="">
            <p>leaves</p>
        </div>
        <div class="logo__images">
            <img src="./Images/icons/behance.png" alt="">
            <p>Behance</p>
        </div>
        <div class="logo__images">
            <img src="./Images/icons/twitch.png" alt="">
            <p>Twitch</p>
        </div>

    </di>
</div>

<!-- Serivce -->
<div class="service">
    <div class="servives-container-1">
        <div>
            <h2>We Provide Best <br>Customer Experiences</h2>
        </div>
        <p>|| We ensure that our customer have the best shopping experience</p>
    </div>

    <div class="servives-container-2">
        <div>
            <i class='bx bx-check'></i>
            <h4>Original Products</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, porro.
            </p>
        </div>

        <div>
            <i class='bx bx-smile' ></i>
            <h4>Satisfaction Guarantee</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, porro.
            </p>
        </div>

        <div>
            <i class='bx bx-shopping-bag'></i>
            <h4>New Arrival Everyday</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, porro.
            </p>
        </div>

        <div>
            <i class='bx bxs-truck'></i>
            <h4>Fast & Free Shipping</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, porro.
            </p>
        </div>
    </div>
</div>

<!-- New Arrivals -->
<div class="initial-scroll-animate reveal-scroll-animate" id="newarrival-container">
    <div class="newarrival-container">
        <h1 style="font-size: 1.5em;">New Arrivals</h1>
        <div class="newarrival-container__images">
            <div style="position: relative;">
                <img style="width: 20vw; border-radius:5px;" src="./Images/images (10).jpeg" alt="">
                <div class="overlaydiv"></div>
                <button class="shopnow_btn">Shop Now <i class="fa-solid fa-arrow-right"></i></button>
            </div>
            <div style="position: relative;">
                <img style="width: 404px;height:27vw;border-radius:5px;" src="./Images/4e164e192547685.Y3JvcCwxNjE2LDEyNjQsMCww.jpg" alt="">
                <div class="overlaydiv"></div>
                <button class="shopnow_btn">Shop Now <i class="fa-solid fa-arrow-right"></i></button>
            </div>
            <div style="position: relative;">
                <img style="width: 20vw;border-radius:5px;" src="./Images/download (5).jpeg" alt="">
                <div class="overlaydiv"></div>
                <button class="shopnow_btn">Shop Now <i class="fa-solid fa-arrow-right"></i></button>
            </div>
            <div style="position: relative;">
                <img style="width: 20vw;height: 27vw;;border-radius:5px;" src="./Images/images (18).jpeg" alt="">
                <div class="overlaydiv"></div>
                <button class="shopnow_btn">Shop Now <i class="fa-solid fa-arrow-right"></i></button>
            </div>
        </div>
    </div>
</div>
<!-- Grocery Items -->
<div class="initial-scroll-animate reveal-scroll-animate" id="mostwanted-container">
    <div class="mostwanted-container">
        <h1 style="font-size: 1.5em;">Fashion Zone</h1>
        <div class="mostwanted-container__images">
            <div style="position: relative;">
                <img style="width: 20vw; border-radius:5px;" src="./Images/lord-shiva-printed-tshirts.jpg" alt="">
                <p class="sale">sale</p>
                <div class="mostwanted-container_blackheart">
                    <img class="liked" src="./images/icons/blackheart.png" alt="">
                </div>
            </div>
            <div style="position: relative;">
                <img style="width: 18vw;height: 300px; ;border-radius:5px;" src="./Images/pexels-luizph-3029796 (1).jpg"alt="">
                <p class="sale">sale</p>
                <div class="mostwanted-container_blackheart">
                    <img class="liked" src="./images/icons/blackheart.png" alt="">
                </div>
            </div>
            <div style="position: relative;">
                <img style="width: 20vw; border-radius:5px;" src="./images/products/n1.jpg" alt="">
                <p class="sale">sale</p>
                <div class="mostwanted-container_blackheart">
                    <img class="liked" src="./images/icons/blackheart.png" alt="">
                </div>
            </div>
            <div style="position: relative;">
                <img style="width: 20vw; border-radius:5px;" src="./images/products/n7.jpg" alt="">
                <p class="sale">sale</p>
                <div class="mostwanted-container_blackheart">
                    <img class="liked" src="./images/icons/blackheart.png" alt="">
                </div>
            </div>
            <div style="position: relative;">
                <img style="width: 20vw; border-radius:5px;" src="./images/products/n3.jpg" alt="">
                <p class="sale">sale</p>
                <div class="mostwanted-container_blackheart">
                    <img class="liked" src="./images/icons/blackheart.png" alt="">
                </div>
            </div>
            <div style="position: relative;">
                <img style="width: 20vw; border-radius:5px;" src="./images/products/f7.jpg" alt="">
                <p class="sale">sale</p>
                <div class="mostwanted-container_blackheart">
                    <img class="liked" src="./images/icons/blackheart.png" alt="">
                </div>
            </div>
            <div style="position: relative;">
                <img style="width: 20vw; border-radius:5px;" src="./images/products/f8.jpg" alt="">
                <p class="sale">sale</p>
                <div class="mostwanted-container_blackheart">
                    <img class="liked" src="./images/icons/blackheart.png" alt="">
                </div>
            </div>
            <div style="position: relative;">
                <img style="width: 20vw; border-radius:5px;" src="./images/products/f6.jpg" alt="">
                <p class="sale">sale</p>
                <div class="mostwanted-container_blackheart">
                    <img class="liked" src="./images/icons/blackheart.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>


<div class="limited-offer">
    <div class="limited-offer-img">
        <img src="./images/others/offer.jpg" alt="">
    </div>
    <div class="limited-offer-text">
        <h2>Limited Offer</h2>
        <h4>35% OFF on this for the first 30 Customers</h4>
        <button> Shop Now <i class="fa-solid fa-arrow-right"></i> </button>
    </div>
</div>

<!-- news Letter -->
<div class="newsletter">
    <h1>Join our News Letter</h1>
    <p>Signup for our email newspaper to get exclusive discounts, updates, and more </p>
    <input style="width: 80%;padding: 10px;" type="text" /><br>
    <button type="submit">Subscribe <i style="font-size: 2vw;" class="fa-solid fa-arrow-right"></i></button>
</div>

<script>
var closeicon = document.getElementById("closeicon")
var signup = document.querySelector(".signup")
closeicon.addEventListener('click', () => {
    signup.style.display = "none"
})

var menubar = document.getElementById("menubar")
var sidemenu = document.querySelector(".sidemenu")

var sidemenu__closebar = document.getElementById("sidemenu__closebar")

menubar.addEventListener('click', () => {
    sidemenu.style.right = 0
})

sidemenu__closebar.addEventListener('click', () => {
    sidemenu.style.right = "-50%"
})

const leftArrow = document.querySelector('.left-arrow');
const rightArrow = document.querySelector('.right-arrow');
const displayedImage = document.getElementById('displayed-image');

const images = ['./images/others/slider-one.jpg', './images/others/slider-two.jpg', './images/others/slider-three.jpg'];

let currentImageIndex = 0;

function updateDisplayedImage() {
    displayedImage.src = images[currentImageIndex];
}

leftArrow.addEventListener('click', function () {
    currentImageIndex--;
    if (currentImageIndex < 0) {
        currentImageIndex = images.length - 1;
    }
    updateDisplayedImage();
});

rightArrow.addEventListener('click', function () {
    currentImageIndex++;
    if (currentImageIndex >= images.length) {
        currentImageIndex = 0;
    }
    updateDisplayedImage();
});

function changeImageAutomatically() {
    currentImageIndex++;
    if (currentImageIndex >= images.length) {
        currentImageIndex = 0;
    }
    updateDisplayedImage();
}
setInterval(changeImageAutomatically, 3000);
updateDisplayedImage();

window.addEventListener("scroll", function () {
    var elements = this.document.querySelectorAll(".initial-scroll-animate")
    elements.forEach((el) => {
        windowHeight = window.innerHeight
        var elbound = el.getBoundingClientRect()

        if (windowHeight > elbound.top - 100) {
            el.classList.remove("reveal-scroll-animate")

        }
    })
})



var liked = document.querySelectorAll(".liked")

for(let i=0;i<liked.length; i++){

liked[i].addEventListener("click", function () {
    if (liked[i].src.includes('redheart.png')) {
        liked[i].src = './images/icons/blackheart.png';
    } else {
        liked[i].src = './images/icons/redheart.png';
    }
});
}
</script>

<style>
.image-display {
    position: relative;
    display: flex;
    padding: 20px;

}

#displayed-image {
    width: 100vw;
    transition: opacity 0.5s ease;
}

.display__content {
    color: white;
    position: absolute;
    top: 30%;
    left: 20%;
    text-align: center;
}

.display__content h1 {
    font-size: 4vw;
}

.display__content p {
    margin-top: 5px;
    font-size: 2vw;
}

.display__btn {
    border: none;
    padding: 10px;
    margin-top: 10px;
    font-size: 20px;
    border-radius: 10px;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 8vw;
    color: white;
}

.left-arrow {
    left: 10%;
}

.right-arrow {
    right: 10%;
}

.servives-container-2 i{
    color: #1D232C;
    font-size: 3vw;
    margin-bottom: 10px;
}
/* Logo container */

.logo-container {
    padding: 20px;
}

.logo-container__images {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.logo__images {
    display: flex;
    flex-direction: column;
    font-size: 2vw;
    align-items: center;
}

.logo__images img {
    width: 4vw;
}


/* Service container */
.service {
    padding: 20px;
}

.servives-container-1 {
    margin-top: 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5vw;
}

.servives-container-2 {
    margin-top: 2vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    font-size: 1vw;
}

.servives-container-2 div {
    border-radius: 5px;
    background-color: #F2F4F7;
    padding: 10px;
}

/* new arrivals */

.newarrival-container {
    margin-top: 10px;
    padding: 20px;
}

.newarrival-container__images {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.overlaydiv {
    opacity: 0.6;
    background-color: black;
    z-index: 2;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: 5px;
}

.shopnow_btn {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 1.2vw;
    color: black;
    border-radius: 10px;
    position: absolute;
    border: none;
    top: 50%;
    left: 18%;
    z-index: 2;
}

/* Most wanted */

.mostwanted-container {
    margin-top: 10px;
    padding: 20px;
}

.mostwanted-container__images {
    margin-top: 10px;
    display: flex;
    gap: 15px;
    justify-content: space-between;
    overflow-x: auto;
    white-space: nowrap;
}

.mostwanted-container__images::-webkit-scrollbar {
    display: none;
}

.mostwanted-container_blackheart {
    position: absolute;
    width: 15%;
    bottom: 3%;
    right: 5%;
}

.mostwanted-container_blackheart img {
    width: 100%;
}

.sale {
    position: absolute;
    top: 2%;
    left: 2%;
    font-size: 2vw;
    background-color: red;
    color: #fff;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 5px;
}

/* Limited Offer */

.limited-offer {
    margin-top: 20px;
    display: flex;
    justify-content: center;

    align-items: center;
    background-color: #1D232C;
    color: #E2E1E1;
    padding: 20px;
    font-size: 2vw;
}

.limited-offer img {
    width: 100%;
    height: 100%100%;
}

.limited-offer-text {
    padding: 5%;
}

.limited-offer button {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    margin-top: 10px;
    font-size: 1.2vw;
    color: #1D232C;
    border-radius: 10px;
    border: none;
}

@media screen and (max-width:900px) {
    #menubar {
        display: block;
        font-size: 20px;
    }

    .navbar__menuitems {
        display: none;
    }

    .servives-container-2 {
        font-size: 1.3vw;
    }

    .newsletter h1 {
        font-size: 25px;
    }

    .newsletter p {
        font-size: 2vw;
    }

    .display__btn {
        font-size: 1.5vb;
    }

    #displayed-image {
        width: 90vw;
    }
}

/* Filter Occasion */

.collections_container {
    display: flex;
    flex-direction: row;
}

.filter_section {
    margin: 20px;
    flex-basis: 15%;
    /* position: relative; */
    font-size: 2vw;
}

.product_section {
    flex-basis: 75%;
    /* position: relative; */
}

.vertical_line {
    border: 2px solid #1D232C;
    margin: 20px;
    height: auto;
    /* margin: 0 20px;
    position: absolute;
    top: 0px;
    right: 0px */
}

.filter_section_price,
.filter_section_arrivals,
.filter_section_occasion,
.filter_section_colors {
    margin-top: 3vw;
    margin-bottom: 10px;
}

.product_section {
    padding: 10px;
    margin-top: 20px;
}

.products_container {
    margin-top: 2vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 1vw;
}

.products_container img {
    margin-top: 2vw;
}

.navbar_search input {
    width: 100%;
    font-size: 18px;
    border: none;
}

.navbar_search input:focus {
    outline: none;
}

.navbar_search {
    padding: 10px;
    border: solid black 1px;
    border-radius: 10px;
    gap: 10px;
    width: 90%;
    display: flex;
    font-size: 20px;
}

#filter_close_icon {
    display: none;
}

.products img {
    transition: transform 0.3s ease;
}

.products img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.filter_section input {
    cursor: pointer;
}

.mostwanted-container_blackheart :hover {
    cursor: pointer;
}
/* newsletter */
.newsletter {
    text-align: center;
    margin-top: 10%;
}

.newsletter h1 {
    font-size: 2.5vw;
}

.newsletter p {
    font-size: 1.5vw;
}

.newsletter input {
    margin-top: 10px;
    border: none;
    border: solid 3px #1D232C;
}

.newsletter button {
    border: none;
    background-color: #1D232C;
    color: white;
    padding: 10px;
    margin-top: 20px;
    font-size: 2vw;
    border-radius: 10px;
}

.newsletter button:hover {
    cursor: pointer;
}
</style>
{% endblock content %}
