<div class="footer">
    <h1>MultiZone</h1>
    <p>The place where you love</p>
    <div class="footer__icon">
        <i class='bx bxl-instagram-alt'></i>
        <i class='bx bxl-facebook-circle' ></i>
        <i class='bx bxl-youtube'></i>
    </div>
    <p class="subtitle">Copyrights @ 2024 MultiZone.com</p>
</div>
<style>
/* footer */
.footer {
    background-color: #1D232C;
    color: #E2E1E1;
    padding: 10px;
    margin-top: 2em;
    padding-left: 20px;
}

.footer p {
    margin-top: 5px;
    margin-bottom: 2px;
}

.footer__icon {
    
    display: flex;
    gap: 30px;
    font-size: 4vh;
    color: #fff;
}

.initial-scroll-animate {
    transition: 5s;
}

.reveal-scroll-animate {
    opacity: 0;
}
</style>