<div class="footer">
    <h1>MultiZone</h1>
    <p>The place where you love shopping</p>
    <div class="footer__icon">
        <a href="#"><i class='bx bxl-instagram-alt'></i></a>
        <a href="#"><i class='bx bxl-facebook-circle' ></i></a>
        <a href="#"><i class='bx bxl-youtube'></i></a>
    </div>
    <p class="subtitle">Copyrights @ 2024 MultiZone</p>
</div>
<style>
/* footer */
.footer {
    background-color: #1D232C;
    color: #E2E1E1;
    padding: 5px;
    margin-top: 1.8em;
    padding-left: 20px;
}

.footer p {
    margin-top: 5px;
    margin-bottom: 2px;
}

.footer__icon {
    gap: 30px;
    padding-bottom: 0px;
    margin-bottom: 0;
}
.footer__icon i {
    font-size: 3vh;
    color: #fff;
    padding: 5px;
}
.subtitle{
    margin-top: 0;
    padding-top: 0;
}
</style>