<!-- Navbar -->
<div class="navbar-container">
    <h1>MultiZone</h1>
    <div class="navbar__menuitems">
        <a href="{% url 'home' %}"> <i class='bx bxs-home'></i> Home</a>
        {% if request.user.is_authenticated %}
        <a href="#"><i class='bx bxs-user-circle'></i> {{request.user}}</a>
        <a href="{% url 'logout' %}"><i class='bx bxs-log-out-circle'></i> Logout</a>
        <a href="{% url 'cart' %}"><i class='bx bxs-cart-add'></i> Cart</a>
        <a href="{% url 'favviewpage' %}"><i class='bx bxs-heart-circle' ></i> Favorite</a>
        {% else %}
        <a href="login"> <i class='bx bxs-log-in-circle'></i></i> Signin</a>
        <a href="register"> <i class='bx bxs-user-circle'></i> Signup</a>
        {% endif %}
        <a href="collections"> <i class='bx bxs-collection'></i> Collections</a>
        <a href="contact"> <i class='bx bxs-contact' ></i> Contact Us</a>
    </div>
    <i id="menubar" style="font-size: 25px;cursor: pointer;" class="fa-solid fa-bars"></i>
</div>

<div class="sidemenu">
    <div class="sidemenu__maindiv">
        <div id="sidemenu__close">
            <i id="sidemenu__closebar" style="cursor: pointer;" class="fa-solid fa-xmark"></i>
        </div>
        <div class="sidemenu__content">
            <a href="{% url 'home' %}"> <i class='bx bxs-home'></i> Home</a>
            {% if request.user.is_authenticated %}
            <a href="#"><i class='bx bxs-user-circle'></i> {{request.user}}</a>
            <a href="{% url 'logout' %}"><i class='bx bxs-log-out-circle'></i> Logout</a>
            {% else %}
            <a href="login"> <i class='bx bxs-log-in-circle'></i></i> Signin</a>
            <a href="register"> <i class='bx bxs-user-circle'></i> Signup</a>
            {% endif %}
            <a href="collections"> <i class='bx bxs-collection'></i> Collections</a>
            <a href="contact"> <i class='bx bxs-contact' ></i> Contact Us</a>
        </div>
    </div>
</div>

<style>
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
* {
	box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
	background: #f6f5f7;
	font-family: 'Montserrat', sans-serif;
}

h1 {
	font-weight: bold;
	margin: 0;
}

.navbar-container {
    background-color: white;
    position: sticky;
    top: 0px;
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 20;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.navbar-container h1 {
    font-size: 28px;
}

.navbar__menuitems {
    font-size: 20px;
    display: flex;
    gap: 60px;
    margin-right: 2%;
}

.navbar__menuitems a {
    text-decoration: none;
    color: black;
}

.navbar__menuitems a:hover {
    cursor: pointer;
    text-decoration: underline;
}



#sidemenu__close {
    text-align: right;
    position: absolute;
    right: 10px;
    top: 10px;

}

#sidemenu__close i {
    display: inline;
    font-size: 20px;

}

.sidemenu {
    transition: all;
    transition-duration: 1000ms;
    background-color: #1D232C;
    font-size: 17px;
    color: white;
    display: flex;
    height: 100vh;
    position: fixed;
    right: -50%;
    top: 0;
    z-index: 30;
    width: 40%;
}

.sidemenu__content {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-left: 30px;
    margin-top: 40px;
}

.sidemenu__content a {
    text-decoration: none;
    color: white;
}

.sidemenu__content a:hover {
    text-decoration: underline;
    cursor: pointer;
}

#menubar {
    display: none;
}
a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}
@media screen and (max-width:900px) {
    #menubar {
        display: block;
        font-size: 20px;
    }
    .navbar__menuitems {
        display: none;
    }
}
</style>

<script>
var menubar = document.getElementById("menubar")
var sidemenu = document.querySelector(".sidemenu")

var sidemenu__closebar = document.getElementById("sidemenu__closebar")

menubar.addEventListener('click', () => {
    sidemenu.style.right = 0
})

sidemenu__closebar.addEventListener('click', () => {
    sidemenu.style.right = "-50%"
})
</script>